{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="body {{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}

				<div class="header-padding">
					{% block headline %}
					<h1 class="main-logo" role="banner">
						<a href="/" rel="home">{{site.name}}</a>
					</h1>
					{% endblock %}
					<div class="mobilenav-trigger">
						Menu
					</div>
				</div>

					<nav class="nav-main" role="navigation">
						<ul>
						{% for item in menu.get_items %}
							<li class="nav-item {{item.classes | join(' ')}}">
								<a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
								{% if item.get_children %}
									<ul class="nav nav-drop">
									{% for child in item.get_children %}
										<li class="nav-drop-item">
											<a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
										</li>
									{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
						<li id="search">
							<a class="fa fa-search" href="#"></a>
						</li>
						</ul>
						<form action="#" class="form-group inline" method="post">
							<fieldset class="">
								<div class="field-container">
									<label for="text">Text Input <abbr title="Required">*</abbr></label> <input id="text" placeholder="Text Input" type="text">
								</div>
							</fieldset><button class="submit btn" type="submit" value="Button">OK</button>
						</form>
					</nav><!-- #nav -->
					<div class="contact-info">
						<p class="phone">610-828-3054</p>
						<p class="address">2303 Hickory Road<br>
						Plymouth Meeting, PA 19462</p>
					</div>

					<div class="emergency">
						<p>A 24/7 Facility</p><a class="button-link" href="#">Emergencies</a>
					</div>
			{% endblock %}
		</header>

		<main role="main">
			{% if title %}<h2>{{title}}</h2>{% endif %}
			{% block content %}
				<div class="wrapper {{sidebar_class}}">
						Sorry, no content
				</div>
			{% endblock %}
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>